@import url(http://fonts.googleapis.com/css?family=Pacifico);

html, body {
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;
}

body {
  font: 0.8125em Georgia, serif;
  color: #333;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: normal;
    /*font-style: italic;*/
    font-family: Pacifico, "Helvetica Neue", sans-serif;
    margin: .25em 0;
    font-size: 3em;
    margin: 0;
}

#nav {
    border-bottom: 1px solid #dddde2;
    padding: .5em 1em;
    background: #eeeef2;
}

#nav form input {
    font-family: "Lucida Sans", "Lucida Grande", Verdana, "Helvetica Neue", sans-serif;
    color: #333;
    border: 1px solid #aaa;
}

#nav form input:hover {
    border-color: #888;
}

#nav form input.button {
    background: #9cf;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
}

#nav form label {
    cursor: pointer;
}

#nav form input.button:hover {
    background: #adf;
}

.centercolumn {
    width: 54em;
    margin: 0 auto;
}

form#signup {
    width: 17.5em;
    float: right;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    margin-left: 1em;
    background: #eee;
}

form#signup .inner {
    background: #fff;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
}

form#signup label {
    display: block;
    font-size: .9em;
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Grande", Verdana, "Helvetica Neue", sans-serif;
}

form#signup input {
    width: 6.5em;
    font-size: 2em;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: -1px;
    text-shadow: 1px 1px 2px #aaa;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

form#signup input:hover {
    border-color: #bbb;
}

form#signup input:focus {
    border-color: #aaa;
    background: #FFF3D9;
}

form#signup a.button {
    background: #a5dfff;
    background: -moz-linear-gradient(top, #a5dfff, #2c6594);
    background: -webkit-linear-gradient(top, #a5dfff, #2c6594);
    border: 1px solid #9ac;
    color: #331;
    font-weight: bold;
    text-shadow: 0 1px 0 #c0e0ff;
    box-shadow: 0 3px 0 #2c595f;
    display: block;
    font-size: 1.25em;
    margin-top: .75em;
    padding: .5em 0;
    text-align: center;
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

form#signup a.button:hover {
    color: #3f3f1f;
    border-color: #abd;
    text-shadow: 0 1px 0 #eff;
    background: #c5ffff;
    background: -moz-linear-gradient(top, #c5ffff, #2c6594);
    background: -webkit-linear-gradient(top, #c5ffff, #2c6594);
}

form#signup a.button:active {
    background: #2c6594;
    background: -webkit-linear-gradient(top, #105080, #2c6594);
    background: -webkit-linear-gradient(top, #105080, #2c6594);
    position: relative;
    top: 3px;
    text-shadow: 0 1px 0 #6ca5d4;
    border-color: #047;
    color: #000;
    box-shadow: none;
}

/************\
* MISCELLANY *
\************/

.left {
    float: left;
}

.right {
    float: right;
}

.small {
    font-family: "Lucida Sans", "Lucida Grande", Verdana, "Helvetica Neue", sans-serif;
}

.small-caps {
    font-family: "Lucida Sans", "Lucida Grande", Verdana, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.clear {
    clear: both;
}