{% extends "skeleton.html" %}

{% block content %}
    <h1>Your main page!</h1>

    <p>You are logged in as {{ user.username }}. Want to <a href="/logout">log out?</a></p>


    Groups you belong to: 
    {% for group in user.group_set.all %}
      <a href="/group/{{ group.id }}">{{ group.name }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}

    <p><a href="/newgroup">Make a new group.</a></p>
    <p><a href="/allgroups">View all groups.</a></p>


    <h2>Recent posts:</h2>
    {% for post in posts %}
      <li>
	    {{ post.title }} 
        <a href="/{{ post.id }}/edit">Edit</a>
      </li>
    {% endfor %}

    <!--
    Pages: 
    {% for link in pages %}
      <a href = "{{ link.link }}">{{ link.number }}</a>
    {% endfor %}
    -->
{% endblock %}