<html>
  <head>
    <title>Main page.</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
  </head>
  <body>
    <h1> Your main page! </h1>

    You are logged in as {{ user.username }}. Want to 
    <a href = "/logout"> log out? </a>
    <p />


    Groups you belong to: 
    {% for group in user.group_set.all %}
      <a href="/group/{{ group.id }}">{{ group.name }}</a> {% if not forloop.last %},{% endif %}
    {% endfor %}

    <br />
    <a href = "/newgroup"> Make a new group. </a> <p />


    Recent posts: <br />
    {% for post in posts %}
      <li />{{ post.title }} 
      <a href = "/{{ post.id }}/edit"> Edit </a>
      <br />
    {% endfor %}

    <!--
    Pages: 
    {% for link in pages %}
      <a href = "{{ link.link }}">{{ link.number }}</a>
    {% endfor %}
    -->
    
  </body>
</html>