{% extends "skeleton.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
	<h1>{{ SITE_NAME }}</h1>

	<p><a href="login">log in</a></p>
	<form id="signup">
		<div class="inner">
			<div><label for="username">Username: </label><input id="username" type="text"/></div>
			<div><label for="password">Password: </label><input id="password" type="password"/></div>
			<div><a class="button" href="/">Sign Up ›</a></div>
		</div>
	</form>
	<h2>Recent posts</h2>
	<ul>
		{% for post in recent_posts %}
		<li>{{ post.title }}</li>
		{% endfor %}
	</ul>
	<h2>Recent groups</h2>
	{% for group in recent_groups %}
	<li>{{ group.title }}</li>
	{% endfor %}
{% endblock %}