{% extends "skeleton.html" %}

{% block content %}
    <h1>Register</h1>

    <form action="/postregister/" method = "post">
      {% csrf_token %}
      <div>Name: <input type="text" name="username"/></div>
      <div>Email*: <input type="text" name="email"/></div>
      <div>Password: <input type="password" name="password"/></div>
      <div><input type="submit" value="Register!"/></div>
    </form>
    <div class="subscript">
        *We will never email you. We don't even know why we ask for your address.
    </div>
{% endblock %}