{% extends "skeleton.html" %}

{% block content %}
    <h1>Who is this {{ username }} guy, anyway?</h1>

	<p>
    {% if is_current_user %}
      Why, that appears to be you!
    {% else %}
      I dunno either. But here are some of their posts: 
    {% endif %}
    </p>

    {% for post in posts %}
      <li>{{ post.title }} 
      {% if is_current_user %}
        <a href="/{{ post.id }}/edit">Edit</a>
      {% endif %}
      </li>
    {% endfor %}

    <!--
    Pages: 
    {% for link in pages %}
      <a href = "{{ link.link }}">{{ link.number }}</a>
    {% endfor %}
    -->
{% endblock %}